In [1]:
import pandas as pd 
import numpy as np

# Importing Data File 
[**----Link to the dataset-----**](https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020)

credits- cricsheet.org

In [2]:
del_df = pd.read_csv("/kaggle/input/ipl-complete-dataset-20082020/deliveries.csv")
mat_df = pd.read_csv("/kaggle/input/ipl-complete-dataset-20082020/matches.csv")

In [3]:
del_df.head(10)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
5,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,6,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
6,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,7,BB McCullum,P Kumar,SC Ganguly,0,1,1,legbyes,0,NaN,NaN,NaN
7,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,BB McCullum,Z Khan,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
8,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN
9,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,Z Khan,SC Ganguly,4,0,4,NaN,0,NaN,NaN,NaN

In [4]:
del_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [8]:
mat_df.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [6]:
mat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1095 non-null   int64
 1   season           1095 non-null   object
 2   city             1044 non-null   object
 3   date             1095 non-null   object
 4   match_type       1095 non-null   object
 5   player_of_match  1090 non-null   object
 6   venue            1095 non-null   object
 7   team1            1095 non-null   object
 8   team2            1095 non-null   object
 9   toss_winner      1095 non-null   object
 10  toss_decision    1095 non-null   object
 11  winner           1090 non-null   object
 12  result           1095 non-null   object
 13  result_margin    1076 non-null   float64
 14  target_runs      1092 non-null   float64
 15  target_overs     1092 non-null   float64
 16  super_over       1095 non-null   object
 17  method           21 non-null     object
 18  umpire1          1095 non-null   object
 19  umpire2          1095 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 171.2+ KB


**Setting 
city Nan = Dubai**

In [5]:
mat_df['city'] = mat_df['city'].fillna('Dubai')

# remove no result

In [6]:
mat_df = mat_df.drop(mat_df[mat_df['winner'].isnull()].index)

# D/L affected removed

In [7]:
mat_df = mat_df[mat_df['method'].isnull()]

In [8]:
mat_df['result_margin'] = mat_df['result_margin'].fillna(0)

# Getting only the current teams

In [9]:
mat_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [10]:
teams = ['Royal Challengers Bengaluru',
        'Punjab Kings',
        'Delhi Capitals',
        'Lucknow Super Giants',
        'Sunrisers Hyderabad',
        'Mumbai Indians',
        'Gujarat Titans',
        'Chennai Super Kings',
        'Rajasthan Royals',
        'Kolkata Knight Riders']

In [13]:
del_df['batting_team'] = del_df['batting_team'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')
del_df['bowling_team'] = del_df['bowling_team'].str.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru')

del_df['batting_team'] = del_df['batting_team'].str.replace('Kings XI Punjab', 'Punjab Kings')
del_df['bowling_team'] = del_df['bowling_team'].str.replace('Kings XI Punjab', 'Punjab Kings')

del_df['batting_team'] = del_df['batting_team'].str.replace('Delhi Daredevils', 'Delhi Capitals')
del_df['bowling_team'] = del_df['bowling_team'].str.replace('Delhi Daredevils', 'Delhi Capitals')

del_df['batting_team'] = del_df['batting_team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
del_df['bowling_team'] = del_df['bowling_team'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

del_df['batting_team'] = del_df['batting_team'].str.replace('Gujarat Lions', 'Gujarat Titans')
del_df['bowling_team'] = del_df['bowling_team'].str.replace('Gujarat Lions', 'Gujarat Titans')

In [14]:
del_df = del_df[del_df['batting_team'].isin(teams)]
del_df = del_df[del_df['bowling_team'].isin(teams)]

In [16]:
mat_df['match_id'] = mat_df['id']

In [17]:
mat_df = mat_df.drop('id', axis = 1)
mat_df['match_id'].astype(int)

0        335982
1        335983
2        335984
3        335985
4        335986
         ...
1090    1426307
1091    1426309
1092    1426310
1093    1426311
1094    1426312
Name: match_id, Length: 1069, dtype: int64

**Merging the Matches data with the ball-by-ball data to get the city,winner and target runs for each match with each delivery.**

In [18]:
mat_df = mat_df[['match_id','city', 'winner', 'target_runs']]
delivery_df = mat_df.merge(del_df, on = 'match_id')

In [19]:
delivery_df['inning'] = pd.to_numeric(delivery_df['inning'], errors='coerce')

**Taking only the required variables from the data**

In [20]:
delv_df = delivery_df.drop(["batter","bowler", "non_striker", "batsman_runs" , "dismissal_kind", "fielder", "player_dismissed"], axis = 1)
delv_df['total_runs'] = pd.to_numeric(delv_df['total_runs'], errors='coerce')
delv_df = delv_df[delv_df["inning"] == 2]
delv_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114621 entries, 124 to 236700
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   match_id      114621 non-null  int64
 1   city          114621 non-null  object
 2   winner        114621 non-null  object
 3   target_runs   114621 non-null  float64
 4   inning        114621 non-null  int64
 5   batting_team  114621 non-null  object
 6   bowling_team  114621 non-null  object
 7   over          114621 non-null  int64
 8   ball          114621 non-null  int64
 9   extra_runs    114621 non-null  int64
 10  total_runs    114621 non-null  int64
 11  extras_type   6183 non-null    object
 12  is_wicket     114621 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 12.2+ MB

# Adding column for the current score

In [21]:
delv_df['current_score']=delv_df.groupby('match_id')['total_runs'].cumsum()

# # **Adding column for the Runs left**

In [22]:
delv_df['runs_left'] = delv_df['target_runs'] - delv_df['current_score']

# # **Adding column for balls left**

In [23]:
delv_df['balls_left'] = 120 - (delv_df['over'] * 6 + delv_df['ball'])

# **Adding column for wickets left**

In [24]:
delv_df['is_wicket'] = delv_df['is_wicket'].astype(int)
wickets = delv_df.groupby('match_id')['is_wicket'].cumsum()
delv_df['wickets_left'] = 10 - wickets

# # Adding column for Current Run Rate

In [25]:
delv_df['RR'] = (delv_df['current_score']*6) / (120 - delv_df['balls_left'])

# # Adding column for Required Run Rate

In [26]:
delv_df['RRR'] = (delv_df['runs_left'] *6 )/ delv_df['balls_left']

# Adding column for the result i.e if the chasing team won the match or not.

In [27]:
def result(row): 
    return 1 if row['batting_team'] == row['winner'] else 0

In [28]:
delv_df['result'] = delv_df.apply(result, axis = 1)

In [29]:
delv_df

,match_id,city,winner,target_runs,inning,batting_team,bowling_team,over,ball,extra_runs,total_runs,extras_type,is_wicket,current_score,runs_left,balls_left,wickets_left,RR,RRR,result
124,335982,Bangalore,Kolkata Knight Riders,223.0,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,0,1,NaN,0,1,222.0,119,10,6.000000,11.193277,0
125,335982,Bangalore,Kolkata Knight Riders,223.0,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,1,wides,0,2,221.0,118,10,6.000000,11.237288,0
126,335982,Bangalore,Kolkata Knight Riders,223.0,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,3,0,0,NaN,0,2,221.0,117,10,4.000000,11.333333,0
127,335982,Bangalore,Kolkata Knight Riders,223.0,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,4,0,1,NaN,0,3,220.0,116,10,4.500000,11.379310,0
128,335982,Bangalore,Kolkata Knight Riders,223.0,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,5,0,1,NaN,0,4,219.0,115,10,4.800000,11.426087,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236696,1426312,Chennai,Kolkata Knight Riders,114.0,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,0,1,NaN,0,110,4.0,61,8,11.186441,0.393443,1
236697,1426312,Chennai,Kolkata Knight Riders,114.0,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,0,1,NaN,0,111,3.0,60,8,11.100000,0.300000,1
236698,1426312,Chennai,Kolkata Knight Riders,114.0,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,0,1,NaN,0,112,2.0,59,8,11.016393,0.203390,1
236699,1426312,Chennai,Kolkata Knight Riders,114.0,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,0,1,NaN,0,113,1.0,58,8,10.935484,0.103448,1
236700,1426312,Chennai,Kolkata Knight Riders,114.0,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,0,1,NaN,0,114,0.0,57,8,10.857143,0.000000,1

# **The final Data**

In [30]:
data = delv_df[['batting_team', 'bowling_team', 'city', 'runs_left', 'balls_left', 'wickets_left', 'target_runs', 'RR', 'RRR', 'result']]

In [42]:
data['city'] = data['city'].replace('Bangalore', 'Bengaluru')
data['city'] = data['city'].replace('Navi Mumbai', 'Mumbai')

In [43]:
data['city'].unique()

array(['Chennai', 'Chandigarh', 'Kolkata', 'Mumbai', 'Indore', 'Dubai',
       'Delhi', 'Hyderabad', 'Pune', 'Port Elizabeth', 'Ranchi',
       'Ahmedabad', 'Jaipur', 'Bengaluru', 'Visakhapatnam', 'Abu Dhabi',
       'Rajkot', 'Dharamsala', 'East London', 'Centurion', 'Mohali',
       'Sharjah', 'Durban', 'Bloemfontein', 'Lucknow', 'Cuttack',
       'Guwahati', 'Cape Town', 'Raipur', 'Johannesburg', 'Kimberley',
       'Nagpur', 'Kanpur'], dtype=object)

In [34]:
data = data.sample(data.shape[0])

In [44]:
data.to_csv("ipl_data.csv", index =False)